.Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: papayawhip;
    border-radius: 145px;
  }

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('bgPopup.jpg');
}

.ModalQuote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 36px;
  align-content: center;
}

.ModalQuote span {
  margin-top: 25%;
}

.ModalButton {
  width: 20%;
  top: 80%;
  left: 40%;
  position: absolute;
  margin: 8px 0 2% 2%;
}