.Résultat{
    display: flex;
    flex-direction: column;
    background: transparent;
    border-radius: 5px;
    width:100%;
    padding: 20px;

  }
.DestinationName{
    
    font-size:30px ;
    font-weight: bold;
    text-align: center;
    margin: 15px 0;
}
.DestinationPicture {
    width: 60%;
    margin: 0 auto;
}
.Webcam{
    height:500px;
}
.Intro {
   font-weight: bold;
   font-size: 40px;
   color: white;
   text-align: center;
  } 
.Intro2{
    font-weight: bold;
    font-size: 40px;
    color:whitesmoke;
    text-align: center;
}

.PrésentationWebcam{
    text-align: center;
    margin: 10px 0;
}
.PrésentationWiki{
    text-align: center;
}

.AResult{
   margin-left: 49%;
   margin-right: 49%;
}

.Country{
    text-transform: uppercase;
}