.Résultat{
    display: flex;
    flex-direction: column;
    background: transparent;
    border-radius: 5px;
    width:100%;
    padding: 20px;

  }
.DestinationName{
    
    font-size:30px ;
    font-weight: bold;
    text-align: center;
    margin: 15px 0;
}
.DestinationPicture {
    width: 60%;
    margin: 0 auto;
}
.Webcam{
    height:500px;
}
.Intro {
   font-weight: bold;
   font-size: 40px;
   color: whitesmoke;
   text-align: center;
  } 
.Intro2{
    font-weight: bold;
    font-size: 40px;
    color:whitesmoke;
    text-align: center;
}

.PrésentationWebcam{
    color: whitesmoke;
    text-align: center;
    margin: 15px 0;
    font-size: 40px;
}
.PrésentationWiki{
    color: whitesmoke;
    text-align: center;
    margin: 0 auto;
}

.AResult{
    color: whitesmoke;
    text-decoration: none;
    margin-left: 32%;
    margin-top: 10px;
}

.Country{
    text-transform: uppercase;
}