.homebg {
    background-image: url('./adventure.jpg');
    background-color: red;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Link {
  display: flex;
  margin-top: 15%;
}

.btn-grad {
  background-image: linear-gradient(to right, #e9d362 0%, #333333 51%, #e9d362 100%);
  padding: 6px 10px;
  border-radius: 10px;
  height: 70px;
  width: 250px;
  border: none;
  align-self: flex-end;
  color: black;
  background-color: transparent;
  font-family: 'Allura';
  font-size: 35px;
}

.btn-grad:hover {
  background-position: right center; 
} 

.title {
  font-family: 'Allura';
  color: rgb(242, 215, 110);
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 35px;
  width: 80%;
  margin-top: 200px;
  text-align: center;
}
