.navbar {
    background-color: #222;
    padding: 20px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-family: 'Allura';
    font-size: 50px;
  }

  .navlink {
      color: white;
      text-decoration: none;
  }