.QuizPage {
  height: 100vh;
}

.QuizPage-Header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.QuizPage-Header h2 {
  color: white;
  padding: 20px;
  font-size: 3rem;
}

.App {
  background-image: url(./journey.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: scroll;
  position: static;
  padding-top: 10vh;
  height: 90vh;
  font-family: 'Allura';
  font-size: 25px;
}

.answerOptions li {
  font-size: 20px;
}

.Result {
  background-image: none;
}